@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Mitr:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body {
  background-color: #eeefeb;
}

.menu-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("https://wallpapersmug.com/download/3840x2160/ddcbbf/food-pizza-baking.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 180%;
  height: 400px;
  position: relative;
  flex-wrap: wrap;
  place-content: stretch center;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.menu-image-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #eeefeb;
  font-family: "poppins";
  text-transform: uppercase;
  font-weight: 600;
  padding: 2px 42px;
  font-size: 6rem;
}

/* Menu List */

.menu-links-container {
  width: 100vw;
}

.menu-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 28%;
  margin-right: 28%;
  text-decoration: none;
  color: #111;
}

.menu-links li {
  list-style: none; /* Remove bullet points */
}

/* Button styles */
.menu-btn {
  font-family: "Poppins";
  font-size: 1rem;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  color: #eeefeb; /* Default button color */
  width: 100%; /* Full width to fill li */
  height: 100%; /* Full height */
  padding: 0.5rem 0; /* Adjust padding for spacing */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.menu-btn:hover {
  color: #494449; /* Change text color on hover */
}

/* Active state for selected button */
.menu-btn.active {
  background-color: #D8D2C2; /* Highlight background */
  color: #B17457; /* Highlight text color */
}

/* Additional styles for buttons to fill li */
.menu-links li {
  background-color: #494449; /* Default background for li */
  border-radius: 4px; /* Rounded corners */
  margin: 0 5px; /* Margin between buttons */
  overflow: hidden; /* Ensures child buttons don't overflow */
  flex-grow: 1; /* Make buttons take equal space */
}

.menu-links li:hover {
  background-color: #D8D2C2; /* Background change on hover */
}

/* Slider styles */
.slider {
  width: 45%;
  position: relative;
}

.slider-container {
  position: relative;
}

.slider-image {
  width: 100%;
  border-radius: 12px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 0 3px 3px 0;
}

/* Hover effect for slider buttons */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


 /* Media queries */
@media (max-width: 768px) {
  .menu-image {
    background-size: 130% 100%;
    height: 400px;
    position: relative;
    flex-wrap: wrap;
    place-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
  }

  .menu-image-text {
    font-size: 2rem; 
  }

  .menu-links {
    margin-left: 4%;
    margin-right: 4%;
  }


  .slider {
    width: 100%; 
  }

  .slider-image {
    border-radius: 8px; 
  }

  .prev,
  .next {
    padding: 10px; 
    font-size: 16px; 
  }
}
 